html {
  font-size: 62.5%;
}
body {
  padding: 5px;
  color: black;
  background-image: url("../img/background.jpg");
  background-size: cover;
  font: 1.4em "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
/* you shall not pass */
div, textarea, table, td, th, code, pre, samp {
  word-wrap: break-word;
}
