<!DOCTYPE html>
<html>
  <head>
    <title>Hello World!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        <li>
          <a href="https://devcenter.heroku.com/articles/how-heroku-works"><span class="glyphicon glyphicon-user"></span> Login</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-right">
          <a href="https://devcenter.heroku.com"><span class="glyphicon glyphicon-book"></span> Frequently Asked Questions</a>
        </li>
      </ul>
    </div>
  </nav>
    <div id="content">
      <div class="left w50">
        <p>Left part
      </div>
      <div class="right w50">
        <p>Right part
      </div>
    </div>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
  </body>
</html>
