<link rel='stylesheet' href="stylesheets/navbar.css" />

<ul class="horizontal">
    <li><a href="/">Hjem</a></li>
    <li><a href="/signin">Innlogging</a></li>
    <li><a href="#about">Om GeoQuiz</a></li>
    <li>Du er i: London</li>
</ul>