<link rel='stylesheet' href="stylesheets/navbar.css" />
<script src="javaScript/question.js"></script>

<ul class="horizontal">
    <li><img src="../img/globus.png" class="globus"><p></li>
    <li class="tagline">Geoquiz - Quiz i kartet!</li>
    <li><a href="/">Hjem til Trondheim</a></li>
    <!--<li><a href="/game">Spill GeoQuiz</a></li>-->
    <!-- <li><a href="#about">Om GeoQuiz</a></li> -->
    <li><a href="#zoom" onclick=zoomOut()>Se hele reiseruten</a></li>
    <li><a href="#wiki" target="_blank" id="wiki" onclick="wikiLink()">Wikipedia</a></li>
    <li id="location"></li>
</ul>