html {
  font-size: 62.5%;
}
body {
  padding: 50px;
  color: black;
  background-color: lightgray;
  background-image: url("../img/Book.png");
  background-size: cover;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 1.4em; /* equiv 14px */
  line-height: 1.5; /* adapt to your design */
}
/* you shall not pass */
div, textarea, table, td, th, code, pre, samp {
  word-wrap: break-word;
}
.question {
  font: 13px "Courier New", Helvetica, Arial, sans-serif;
}
.left {
  float: left;
}
.right {
  float: right;
}
.w50 {
  width: 48%;
}

a {
  color: #00B7FF;
}
