<!DOCTYPE html>
<html>
<head>
    <%- include partials/header.ejs %>
  <link rel='stylesheet' href="stylesheets/game.css" />
  <script src="javaScript/question.js"></script>

  <!-- JS and stylesheet needed for map -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
        integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
        crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
          integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
          crossorigin=""></script>

  <!-- geocoder -->
    <script src="./javaScript/Control.OSMGeocoder.js"></script>
    <link rel="stylesheet" href="./stylesheets/Control.OSMGeocoder.css" />


</head>
<body>
<%- include partials/navbar.ejs %>

<div id="content">
  <div class="left w50">
    <div id="question" class="question"></div>

    <button class="nextButton" type="button" onclick="showText(0, 30)">Neste spørsmål</button>

    <span id="text_target"></span>
  </div>
  <div id="mapid" class="right w50">
     <script src="/javaScript/map.js"></script>
    <!-- <img src="https://snorfalorpagus.net/images/leaflet_pyqt4.jpg" class="map"> -->
  </div>
</div>
</body>
<!--<h1><%= title %></h1>-->
<!--<p>Welcome to <%= title %></p>-->
<!--</body>-->
</html>
