<!DOCTYPE html>
<html>
<head>
    <%- include partials/header.ejs %>
  <link rel='stylesheet' href="stylesheets/game.css" />
  <script src="javaScript/question.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://unpkg.com/@mapbox/leaflet-pip@latest/leaflet-pip.js"></script>
  <script>
      $(document).ready(function(){
          $("button").click(function(){
              $.post('api/questions/reset');
              updateAll();
              $("button").hide();
          })
      });
  </script>


  <!-- JS and stylesheet needed for map -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
        integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
        crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
          integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
          crossorigin=""></script>

  <!-- geocoder -->
    <script src="./javaScript/Control.OSMGeocoder.js"></script>
    <link rel="stylesheet" href="./stylesheets/Control.OSMGeocoder.css" />



</head>
<body>
<%- include partials/navbar.ejs %>

<div id="content">
  <div class="left w50">
    <div id="question" class="question">'
  <script>showText("question", "Velkommen til GeoQuiz og en reise rundt jorden. Spillet går ut på å løse rebuser " +
          "og gjette i kartet når du tror du vet hvor du skal. Klarer du oppgaven får du en ny, og turen fortsetter. Oppgavene er noen" +
          " skikkelige nøtter, så ta deg god tid. Det kan være lurt å  bruke søk og Wikipedia om du står fast. <br> <br> Lykke til på reisen!", 0, 30)</script>
    </div>




    <button class="nextButton" type="button">Start Quiz</button>

    <span id="text_target"></span>
  </div>
  <div id="mapid" class="right w50">
    <script src="/javaScript/map.js"></script>
    <script>
        map.on('click', onMapClick);
        function onMapClick(e){
            $.get("/api/questions/coors", function(data){
                //TODO call function with click place e and polygon data
            });
        }
//            clickedPoint = e.latlng;
//            console.log("clicked "+ clickedPoint);
//        }
    </script>

  </div>

</div>
</body>
<!--<h1><%= title %></h1>-->
<!--<p>Welcome to <%= title %></p>-->
<!--</body>-->
</html>
