<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href="stylesheets/style.css" />
  <script src="javaScript/question.js"></script>
  <title>GeoQuiz</title>
  <link rel="shortcut icon" href="/img/globus.png" type="image/png">

</head>
<body>
<ul class="horizontal">
  <li><a href="/">Hjem</a></li>
  <li><a href="/signin">Innlogging</a></li>
  <li><a href="#about">Om GeoQuiz</a></li>
  <li>Du er i: London</li>
</ul>
<div id="content">
  <div class="left w50">
    <div id="question" class="question"></div>
    <button class="nextButton" type="button" onclick="showText(0, 40)">Neste spørsmål</button>


    <span id="text_target"></span>
  </div>
  <div class="right w50">
      <script src="javaScript/map.js"></script>
    <!--<img src="https://snorfalorpagus.net/images/leaflet_pyqt4.jpg" class="map">-->
  </div>
</div>
</body>
<!--<h1><%= title %></h1>-->
<!--<p>Welcome to <%= title %></p>-->
<!--</body>-->
</html>
