<!DOCTYPE html>
<html>
<head><%- include partials/header.ejs %></head>
<body>
<%- include partials/navbar.ejs %>
<div class="container">
  <h1>Hello there</h1>

  <p>Won't you please <a href="signin">sign in</a> or <a href="register">register</a>?</p>
</div>
</body>
</html>